
.addQuery-container {
    background-color: #171717;
    max-width: 42%;
    opacity: 0.85;
    margin-top: 4%;
    font-size: 24px;
    padding-top: 1.5%;
    min-width: 750px;
}

.addQuery-input {
    max-width: 70%;
    margin: 0.5%;
    font-size: 24px;    
}

.addQuery-label {
    font-size: 24px;
    text-align: left;
}

.addQuery-form {
    padding-bottom: 3%;
    max-width: 80%;
    margin: auto;
}

.addQuery-submit{
    font-size: 30px;
    margin-top: 15px;
    background-color: #171717;
    border-color: #171717;
    opacity: 0.85;
    width: 101%;
}

.addQuery-submit:hover {
    background-color: #313131;
    border-color: #171717;
}