
.editQuery-container {
    background-color: #171717;
    max-width: 42%;
    opacity: 0.85;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 750px;
    min-width: 750px;
}

.editQuery-Table {
    border: none;
    margin-top: 0%;
}

.editQuery-input {
    max-width: 75%;
    margin: 0.5%;
}

.editQuery-label {
    text-align: left;
}

.editQuery-form {
    max-width: 85%;
    margin: auto;
}

.editQuery-select:hover {
    background-color: #313131;
}

.editQuery-submit:hover {
    background-color: #313131;
}

.editQuery-submit{
    margin-top: 15px;
    background-color: #171717;
    border-color: #171717;
    opacity: 0.85;
    width: 101%;
    font-weight: bold;
    font-size: 24px;
}

.editQuery-select{
    margin-top: 5px;
    background-color: #171717;
    opacity: 0.85;
    width: 80%;
    border: none;
}

.editQuery-submit:hover {
    background-color: #313131;
    border-color: #171717;
}
