
.table {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    color: rgba(255, 255, 255, 0.87);
    background-color: #171717;
}

.monitorStatus{
    text-align: right;
    margin-right: 11%;
    color: rgba(255, 255, 255, 0.87);
}

a{
    color: rgba(255, 255, 255, 0.87); ;
    text-decoration: none;
}