
.table {
    max-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #171717;
    opacity: 0.85;
}

.monitorStatus{
    text-align: right;
    margin-right: 11%;
}

a{
    color: white ;
    text-decoration: none;
}