
.container {
    background-color: #171717;
    padding-left: 2%;
    max-width: 80%;
    opacity: 0.85;
    padding-top: 0.25%;
    padding-bottom: 0.25%;
    margin-bottom: 1.5%;
    color: rgba(255, 255, 255, 0.87);
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.87);
}

.navbar-nav {
    text-align: center;
    font-size: 30px;
}

.nav-link {
    margin-left: 7%;
    margin-right: 7%;
    color: rgba(255, 255, 255, 0.87);
}

.nav-link:hover, .nav-link:focus, .navbar-brand:hover {
    color: rgba(255, 255, 255, 1);
}

.nav-acc {
    text-align: right;
    font-size: 30px;
    margin-right: 2%;
    color: rgba(255, 255, 255, 0.87);
}